.alimento{
background-color: red;
color: violet;
padding: 25px 30px;
width: 250px;
height: 250px;
color: cadetblue;
border-width: 250px;
}
.alimento img{
    width: 250px;
    height: 250px;
}
.alimento img{
    width: 250px;
    height: 250px;
}